<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>PBL</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Fertlizer Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="Temperature" placeholder="Temperature" required="required" />
        <input type="number" name="Humidity" placeholder="Humidity" required="required" />
		<input type="number" name="Moisture" placeholder="Moisture" required="required" />
		<input type="text" name="Soil Type" placeholder="Soil Type" required="required" />
        <input type="text" name="Crop Type" placeholder="Crop Type" required="required" />
        <input type="number" name="N" placeholder="N" required="required" />
		<input type="number" name="P" placeholder="P" required="required" />
		<input type="number" name="K" placeholder="K" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>